<%= render 'back_team_standings' %>
</br>
<div class="row">
  <div class="col-xs-12">
    <%- Grade.keys.each do |grade| %>
      <%= render_grade_link(grade, 'edit') %>
      <%- if grade == 'f' %>
        </br></br>
      <%- end %>
    <%- end %>
  </div>
</div>
</br>
<%= form_tag update_teams_list_path, method: :post, class: 'form-horizontal' do %>  
  <div class="form-group">
    <div class="col-xs-4"><label>Team</label></div>
    <div class="col-xs-8"><label>Points: <%= @grade.upcase %></label></div>
  </div>
  <% for team in @teams %>  
    <div class="form-group">
      <%= fields_for "teams[]", team do |f| %>  
        <div class="col-xs-4"><%= f.label team.name %></div>
        <%- Grade.keys.each do |grade| %>
          <div class="col-xs-8 <%= 'hidden' if grade != @grade %>">
            <%= f.text_field eval(":points_#{grade}") %>
          </div>
        <% end %>
      <% end %>  
    </div>
  <% end %>  
  <%= submit_tag "Submit", class: 'btn btn-amethyst' %>
<% end %>  
