<h1><%= @team.name %></h1>
</br>
<%= link_to 'Delete Team', team_path(@team), method: 'DELETE', class: 'btn btn-default', data: { confirm: "Are you sure?" }  %>
<%= link_to 'Back', teams_path, class: 'btn btn-default'  %>
</br></br>
<table class="table">
  <tbody>
    <%- %w(a b c d e f).each do |grade| %>
      <tr>
        <td>Points <%= grade.upcase %></td>
        <td><%= @team.send("points_#{grade}") %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
