<h1>Listing teams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Opopponent</th>
      <th>Winner</th>
      <th>Score</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.grade %></td>
        <td><%= match.date %></td>
        <td><%= match.opponent %></td>
        <td><%= match.winner %></td>
        <td><%= match.score %></td>
        <td><%= match.description %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
