<%= form_for @match, html: { class: 'form-horizontal' } do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-xs-4"><%= f.label :grade %></div>
    <div class="col-xs-8"><%= f.select(:grade, Grade.all.map { |g| [g.name, g.key] } ) %> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"><%= f.label :date %></div>
    <div class="col-xs-8"><%= f.date_field :date, default_value: Date.today.to_s(:db) %></div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"><%= f.label :opponent %></div>
    <div class="col-xs-8"><%= f.text_field :opponent %></div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"><%= f.label :location %></div>
    <div class="col-xs-8"><%= f.text_field :location %></div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"><%= label_tag 'Score (ours)' %></div>
    <div class="col-xs-8"><%= f.select(:score, %w(0 1 2 3 4).map { |g| [g, g] } ) %> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"><%= f.label :result %></div>
    <div class="col-xs-8"><%= f.select(:result, %w(Unplayed Victory Loss Draw).map { |g| [g, g] } ) %> </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"><%= f.label :description %></div>
    <div class="col-xs-8"><%= f.text_area :description %></div>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-amethyst'%>
  </div>
<% end %>
</br> </br>
