<h1>Matchups</h1>
</br>
<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Add Match', new_match_path, class: '' %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-xs-12">
    <%- %w(a b c d e f).each do |grade| %>
      <%= render_grade_link(grade) %>
    <%- end %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-xs-12">
    <ul class="matches-list">
      <% @matches.each do |match| %>
          <li class="match-list-item">
            <a class='match-link' href='<%= match_path(match) %>'>
              <p class='match-title'><%= render_match_title(match) %></p>
              <p class='match-time'><%= format_index_date(match) %></p>
            </a>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
</div>
