</br>
</br>
<div class="row">
  <div class="col-xs-12">
    <%= link_to new_match_path do %>
      <%= button_tag type: 'button', class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    <% end %>
    <%= render 'shared/grade_links' %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-xs-12">
    <ul class="matches-list">
      <% @matches.each do |match| %>
          <li class="match-list-item">
            <a class='match-link' href='<%= match_path(match, params) %>'>
              <p class='match-title'><%= render_match_title(match) %></p>
              <p class='match-time'> 
              <%= format_index_date(match) %> 
              <%= "- at #{match.location}" if match.location.present? %> 
              </p>
            </a>
            <a class='match-list-icon'>
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </li>
        </a>
      <% end %>
    </ul>
  </div>
</div>
