<%= render 'back_matches_content_for' %>
<div class="match-show">
  <div class="row">
    <div class="col-xs-12">
      <p id="notice"><%= notice %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class='match-title'><%= render_match_title(@match) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class='match-time'><%= format_index_date(@match) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <p> <%= @match.description %> </p>
    </div>
  </div>
  <div class="row user-actions">
    <div class="col-xs-12">
    <% if admin_signed_in? %>
      <%= link_to 'Edit', edit_match_path(@match) %> &nbsp; 
      <%= link_to 'Destroy', @match, method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;
    <% end %>
    </div>
  </div>

</div>
